*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#car_veg{
	height: 10%;
	width: 100%;
}


.textlink {
	text-decoration: none;
}	
	

.logo-sm{
	width:40px;
	height: 40px;
	margin: 0.1em;
	margin-right: 10px;
  }
  .logo-lg{
	width:100px;
	height: 100px;
	margin: 1em;
   
	}
	.navbar {
		display: flex;
		align-items: center;
		padding: 20px;	
	}

	nav {
		flex: 1;
		text-align: right;
	}
	
	nav ul {
		display: inline-block;
		list-style: none;
	}
	
	nav ul li {
		display: inline-block;
		margin-right: 20px;
	}
	
	a{
		text-decoration: none;
		color: grey;
	}

  .orangebrdr{
	border-color: #f4511e;
	}
	
	.pdt{
		padding-top: 3rem;
	}
	.pdb{
		padding-bottom: 3rem;
	}

ul{
	list-style-type: none;
}